<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery scripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Ilucious Format Manager (IFM) -->
    <link href="IFM/ifm-mode.css" rel="stylesheet">
	<!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS -->
	<link rel="stylesheet" href="style.css">
	<!-- Icon -->
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <title>XeonCraft | Главная страница</title>
</head>

<body>

    <header id="nav-bar-menu">
        <!-- <ul> -->
            <img src="assets/Icon1.png" alt="" style="width: 70px; margin-right: 25px;">
            <div class="btn-group" style="margin-right: 25px;">
                <a href="#" type="button" class="nav-bar-menu-item" id="target" style="font-size: 17px; color: #B9B9B9; padding-left: 20px;">Главная</a>
                <button type="button" id="test" class="nav-bar-menu-item nav-bar-menu-dropdown" data-bs-toggle="dropdown" aria-expanded="false" onclick="changeColor()">
                    <div style="padding-top: 5px; color: #B9B9B9;"><i class="bi bi-caret-down-fill" style="font-size: 10px;"></i></div>
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item dropdown-item-header" href="#" draggable="false">Новые посты</a></li>
                        <li><a class="dropdown-item" href="#" draggable="false">Популярные публикации</a></li>
                        <li><a class="dropdown-item dropdown-item-footer" href="#" draggable="false">Информация о сайте</a></li>
                    </ul>
            </div>
            
            <div class="btn-group">
                <a href="#" type="button" class="nav-bar-menu-item" style="font-size: 17px; color: #B9B9B9; padding-left: 20px;">Сервера</a>
                <button type="button" class="nav-bar-menu-item nav-bar-menu-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div style="padding-top: 5px; color: #B9B9B9;"><i class="bi bi-caret-down-fill" style="font-size: 10px;"></i></div>
                </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item dropdown-item-header" href="#" draggable="false">DDSH Modded</a></li>
                        <li><a class="dropdown-item dropdown-item-footer" href="#" draggable="false">Towny Vanilla</a></li>
                    </ul>
            </div>
            <a href="#" type="button" class="nav-bar-menu-item" style="font-size: 17px; color: #B9B9B9; margin-left: 40px;">О нас</a>
        <!-- </ul> -->
    </header>
    <main class="content">
        <div class="content__welcome">
            <h1>Добро пожаловать!</h1>
           <!-- <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit expedita in ullam ad quibusdam alias ipsam deleniti iure aspernatur, dolorem odio perferendis quos! Aspernatur cum eos eum rerum sapiente ullam!
            </p>-->
        </div>

        <div class="information-block">
            <div class="information">
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
            </div>
            
            <div class="information">
                <div class="information__content">
                    <i class="fab fa-instagram"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-instagram"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-instagram"></i>
                    <a href=""><span>~ ~~~ ~</span></a>
                </div>
            </div>
        </div>

        <div class="servers">
            <h1>Список серверов</h1>
            <div class="servers__modded">
                <div class="servers__block">
                    <i class="fas fa-terminal"></i>
                    <a class="" href="#" draggable="false">Сервер - DDSH Modded</a>
                </div>
                <span class="servers__status server__status-active">Работает</span>
                <span class="servers__online">Онлайн: ? / 20</span>
                <span class="servers__updates">Версия сервера: Launcher-Client 1.16.5</span>
            </div>
            <div class="servers__vanilla">
                <div class="servers__block">
                    <i class="fas fa-terminal"></i>
                    <a class="" href="#" draggable="false">Сервер - Towny Vanilla</a>
                </div>
                <span class="servers__status server__status-active">Работает</span>
                <span class="servers__online">Онлайн: ? / 50</span>
                <span class="servers__updates">Версия сервера: Launcher-Client 1.16.5</span>
            </div>
        </div>
    </main>
    
    <style>
    </style>
</body>
