@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/* font-family: 'Oxygen', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
/* font-family: 'Rubik', sans-serif; */

/* 
    CUSTOM SECTION
 */
.navbar-item-thumb:hover {
    border-bottom: 4px #595C5F solid;
    margin-bottom: 4px;
    transition: all .1s ease;
}

.navbar-item-thumb:hover > a{
    margin-bottom: 4px;
}

.navbar-item-thumb {
    transition: all .1s ease !important;
}

.nav-item-active:hover {
    border-bottom: 4px #FFFFFF solid;
    transition: all .1s ease;
}

.txt-additional {
    color: #595C5F !important;
}

.custom-shadow {
    box-shadow: 0 0 20px 3px #323233 !important;
}

.navbar-item-block {
    display: flex;
    box-shadow: 0 0 1px 3px #595C5F;
    font-size: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    padding-left: 6px;
    margin-right: 10px;
}

.navbar-item-block > .hidden {
    color: #FFFFFF;
    overflow: hidden;
    visibility: hidden;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.navbar-item-block:hover {
    transition: all 0.5s ease;
    cursor: pointer;
}

.navbar-item-block:hover > .hidden {
    visibility: visible;
    transition: all 0.5s ease;
}

/* Just custom width values to perform some best practice for user eyes =) */
.profile-section:hover {
    width: 125px;
}

.settings-section:hover {
    width: 140px;
}

.launcher-section:hover {
    width: 120px;
}

.container {
    display: block;
    width: 100%;
    margin-top: 80px;
}

.presentation {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: #212529;
    width: 700px;
    height: 320px;
    transition: all 0.5s ease;
    padding: 30px;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}

.presentation:hover {
    cursor: help;
    /* border: 5px #323233 solid; */
    box-shadow: 0 0 1px 3px #595C5F;
    transition: all 0.5s ease;
}

.presentation-image {
    display: flex;
}

.presentation-body {
    margin: auto;
}

.presentation-image img{
    border-radius: 10px;
    width: 450px;
    height: 260px;
}

.description-context {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.description-context-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.context {
    display: flex;
    width: 800px;
    background-color: #323233;
    box-shadow: 0 0 10px 3px #595C5F;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.context:hover .context-icon{
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

.context-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 32px;
}

.separete-line {
    width: 200px;
    height: 5px;
    background-color: white;
    box-shadow: 0 0 20px 3px #DFDFDF !important;
    border-radius: 100px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none; 
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;      
}   

/* 
    GLOBAL SECTION
 */
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

body {
    /* background: linear-gradient(#595C5F, #605759); */
    height: 100%;
    width: 100%;
    background: url('assets/images/home-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}