@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Usage: font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap');
/* Usage: font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
/* Usage: font-family: 'Happy Monkey', cursive; */
.card-thumb {
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0px #DFDFDF;
    width: 20rem; 
    padding: 25px 5px 25px 20px;
    margin: auto;
    transition: all 0.5s ease;
    margin-top: 20px;
}

.card-thumb:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.card-thumb-header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.card-thumb-main {
    display: flex;
    flex-direction: column;
}

.card-thumb-main-head {
    display: flex;
    flex-direction: column;
}

.card-thumb-main-body {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    /* margin-bottom: 20px; */
}

.card-thumb-main-footer {
    font-size: 15px;
    margin-right: 15px;

    /* border-top: solid #4b4949 1px;
    padding-top: 20px; */
}

.card-thumb-main-footer-separator > .card-thumb-main-footer{
    border-top: solid #4b4949 1px;
    margin-right: 15px;
    padding-top: 20px;
}

/* Зависимости других элементов в данной карточке */

.card-thumb > a, .card-thumb-header > a, .card-thumb-main > a,
 .card-thumb-main-body > a, .card-thumb-main-footer > a, .card-thumb-main-head > a {
    font-family: 'Happy Monkey', cursive;
    font-weight: 100;
    color: #4b4949;
    text-decoration: none;
}

.card-thumb > a:hover, .card-thumb-header > a:hover, .card-thumb-main > a:hover,
 .card-thumb-main-body > a:hover, .card-thumb-main-footer > a:hover, .card-thumb-main-head > a:hover {
    text-decoration: underline;
}

.card-thumb-header > h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.card-thumb-main-head > h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.card-thumb-main-body {
    font-family: 'Montserrat', sans-serif;
    color: #4b4949;
}

/* Default showcase */
/* 
<div class="card-thumb">
    <div class="card-thumb-header">
        <!-- 
            Some pictures here
        -->
        </div>
        <div class="card-thumb-main">
            <div class="card-thumb-main-head">
                <!-- 
                    Your project's name 
                -->
                <h3>Facebook</h3>
            </div>
            <!-- 
                Project's description
            -->
            <div class="card-thumb-main-body">
                <p>
                    Facebook is a website which allows users, who sign-up for free profiles, 
                    to connect with friends, work colleagues or people they don't know, online. 
                    It allows users to share pictures, music, videos, and articles, as well as 
                    their own thoughts and opinions with however many people they like.
                </p>
            </div>
        </div>
        <div class="card-thumb-main-footer">
            Useful links: <a href="https://facebook.com//">Facebook web page</a>
        </div>
    </div>
</div> 
*/