a:focus {
    border-style: hidden !important;
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-width: 100px;
    background-color: #242424;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none; 
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;      
}  

#nav-bar-menu img {
    cursor: pointer;
    transition: all .5s;
}

#nav-bar-menu img:hover {
    transform: scale(0.9);
}