body {
    display: flex;
    flex-direction: row;
}

#panel {
    width: 280px;
    background-color: #242424;
    padding: 1rem;
    color: #ddd;
    position: fixed;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #ddd;

    margin-left: 20%;
}

.panel__header {
    text-align: center;
}

.panel__header i{
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
}

.panel__header span {
    font-size: 25px;
    font-weight: 700;
}

.panel__content {
    display: flex;
    flex-direction: column;
}

.panel__item {
    height: 50px;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all .5s;
}

.panel__item-active {
    background-color: #2A2A2A;
}

.panel__item:hover {
    background-color: #2A2A2A;
    cursor: pointer;
}

.panel__item i {
    font-size: 20px;
    margin-right: 10px;
}

.user__order {
    /* width: 400px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: #2A2A2A;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.user__order i {
    color: rgba(221, 221, 221, 0.5);
}

.order__id {
    text-align: center;
    padding-top: 12px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: #242424;
    margin-right: 20px;
}

.order__item {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #242424;
    border-radius: 100px;
    height: 48px;
    width: auto;
    margin-right: 10px;
    transition: all .5s;
}

.order__item:hover {
    cursor: pointer;
    background-color: transparent;
}

.order__accept {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
    margin-left: auto;
}

.order__accept i {
    color: #12ff26 !important;
    cursor: pointer;
}

.order__decline {
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 30px;
}

.order__decline i {
    color: #ff3d12 !important;
    cursor: pointer;
}

.order__decline:hover i {
    transform: scale(1.5);
}

/* .order_item:hover i {
    color: white !important;
}

.order_item:hover span {
    color: transparent;
} */