.card {
    background-color: #242424;
    transition: all .5s;
}

.card-header {
    background-color: #2A2A2A;
    padding: 10px;
}

.card li {
    list-style: none;
}

.card .bi {
    margin-right: 10px;
}

.card:hover {
    transform: scale(1.01);
}