@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/* 
    font-family: 'IBM Plex Sans', sans-serif;
 */

body {
    background-color: #1A1A1A;
}

/* 
* Navbar menu section
*/
#nav-bar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 91px;
    /* box-shadow: 0 0 20px 3px #DFDFDF; */
    background-color: #242424;
    color: #ddd;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-bar-menu-item {
    background-color: #242424;
    justify-content: center;
    align-items: center;
    border: 0px solid #242424;
    font-weight: 700;
    transition: all 0.2s ease;
    text-decoration: none;
}

.nav-bar-menu-item:hover {
    color: #DCDCDC !important;
    font-weight: bold;
}

.nav-bar-menu-dropdown:hover {
    color: black !important;
}

/* 
* Dropdown menu section
*/
.dropdown-menu {
    border-width: 0px;
    background-color: #242424;
    /* box-shadow: 0 0 20px 3px #DFDFDF; */
    padding: 0 0 0 0;
    border-radius: 11px;
    border-top-left-radius: 0px;
    transform: translate(0px, 27.2px) !important;
    width: 230px;
    font-size: 15px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 35%);
}

.dropdown-item {
    color: #B9B9B9;
    padding: 6px 15px 6px 12px;
    border-left: 3px solid transparent;
}

.dropdown-item-header:hover {
    border-top-right-radius: 11px;
}

.dropdown-item:hover {
    border-left: 3px solid rgba(221, 221, 221, 0.5);
    color: #ddd;
    background-color: #2A2A2A;
}

.dropdown-item-footer:hover {
    border-bottom-right-radius: 11px;
}

.dropdown-item:active {
    border-left: 3px solid rgba(221, 221, 221, 0.5) !important;
    background-color: #2A2A2A;
    color: #ddd;
}


.content {
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    color: #ddd;
    font-weight: 600;
}

.content__welcome {
    background-color: #2A2A2A;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.information-block {
    display: flex;
    width: 100%;
}

.information {
    display: flex;
    width: 50%;
    padding: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    background-color: #242424;
    border-radius: 5px;

    margin-left: 30px;
    margin-right: 30px;
}

.information__content {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.information__content i {
    font-size: 25px;
    margin-right: 10px;
}

.information__content .fa-vk {
    color: #51BBFE;
}

.information__content .fa-discord {
    color: #8C9EFF;
}

.information__content span {
    font-size: 30px;
    font-weight: 100;
    font-family: 'IBM Plex Sans', sans-serif;
}

.servers {
    display: flex;
    background-color: #2A2A2A;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
}

.servers h1 {
    text-align: center;
}

.servers__block {
    width: 20%;
}

.servers i {
    font-size: 25px;
    margin-right: 20px;
}

.servers .information:hover {
    opacity: 0.7;
}

.servers__status {
    margin-left: 70px;
}

.servers__online {
    margin-left: 70px;
}

.servers__updates {
    margin-left: 70px;
    color: rgba(221, 221, 221, 0.5);
}

.server__status-active {
    color: #12ff26;
}

.server__status-disabled {
    color: #ff3d12;
}

.servers__vanilla {
    display: flex;
    background-color: #242424;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.servers__modded {
    display: flex;
    background-color: #242424;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}


body a {
    text-decoration: none;
    color: #B9B9B9 !important;
}

body a:hover {
    color: #ddd !important;
}


/* Работа над блоком информации с ссылками на группу и прочее */
@media screen and (max-width: 880px) {
    .information-block {
        display: flex;
        flex-direction: column;
    }

    .information {
        margin: 20px 0 0 0 !important;
        width: 100% !important;
    }

    .servers__modded {
        flex-direction: column !important;
    }

    .servers__vanilla {
        flex-direction: column !important;
    }

    .servers__block {
        width: 100% !important;
    }

    .servers__status {
        margin: 0 0 0 0 !important;
    }

    .servers__online {
        margin: 0 0 0 0 !important;
    }

    .servers__updates {
        margin: 0 0 0 0 !important;
    }
}

@media screen and (max-width: 640px) {
    #nav-bar-menu {
        flex-direction: column !important;
    }

    img {
        margin-right: 0px !important;
    }

    .btn-group {
        width: 100% !important;
        text-align: center !important;
        margin-right: 0px !important;
        margin-top: 10px !important;
        /* margin-bottom: 10px !important; */
        margin-left: auto !important;
        display: inline-block !important;
    }

    .nav-bar-menu-item {
        margin-top: 10px !important;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
    }

    .btn-group .show {
        display: inline-block !important;
        inset: 10px auto auto 20% !important;
    }
}

@media screen and (max-width: 575px) {
    .content {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}