.accordion-button:not(.collapsed) {
    color: #DCDCDC !important;
    background-color: #242424;
}

.accordion-button {
    color: #ddd !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

.accordion-button:active {
    border-color: transparent !important;
}


.accordion-button:not(.collapsed)::after {
    color: #ddd !important;
}

.accordion {
    margin-left: 100px;
    margin-right: 100px;
}