.content__footer {
    display: flex;
    flex-direction: row;
}

.content__updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #2A2A2A;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    right: 0;
    margin-left: auto;
}

.updates__header {
    height: 20%;
}

.updates__body {
    width: 100%;
    height: 80%;
    background-color: #242424;
}

.content__players {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    padding-bottom: 20px;
    border-radius: 5px;
    position: absolute;
}

.content__server-player {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content__server-player img {
    width: 25px;
    margin-right: 10px;
}

.content__server-player span {
    font-size: 20px;
    font-weight: 700;
}

.content__server-player-profile {
    cursor: pointer;
    transition: all .5s;
}


.content__server-player-profile:hover {
    text-decoration: underline;
}