<!doctype html>
<html lang="en">

{% load static %}

{% include "blocks/head.html" %}

<body class="unselectable">
    {% include "blocks/navigation.html" %}

    <main class="content">
        <div class="content__welcome">
            <h1>Добро пожаловать!</h1>
            <!--<p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit expedita in ullam ad quibusdam alias
                ipsam deleniti iure aspernatur, dolorem odio perferendis quos! Aspernatur cum eos eum rerum sapiente
                ullam!
            </p>-->
        </div>

        <div class="information-block">
            <div class="information">
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href="https://vk.com/xeonelite"><span>Основная группа</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href="https://vk.com/xeoncraft"><span>Группа сервера</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-vk"></i>
                    <a href="https://vk.me/join/AJQ1dyJK7heYfQjLQ2CSrmte"><span>Беседа сервера</span></a>
                </div>
            </div>

            <div class="information">
                <div class="information__content">
                    <i class="fab fa-discord"></i>
                    <a href="https://discord.com/invite/cUAmkf2"><span>Discord сервер</span></a>
                </div>
                <!-- <div class="information__content">
                    <i class="fab fa-discord"></i>
                    <a href=""><span>-</span></a>
                </div>
                <div class="information__content">
                    <i class="fab fa-discord"></i>
                    <a href=""><span>-</span></a>
                </div> -->
            </div>
        </div>

        <div class="servers">
            <h1>Список серверов</h1>
            <div class="servers__modded">
                <div class="servers__block">
                    <i class="fas fa-terminal"></i>
                    <a class="" href="/modded" draggable="false">Сервер - DDSH Modded</a>
                </div>
                {% if status_modded %}
                    <span class="servers__status server__status-active">Работает</span>
                    <span class="servers__online">Онлайн: {{ online_modded }} / {{ max_online_modded }}</span>
                    <span class="servers__updates">Версия сервера: {{ version_modded}}</span>
                {% else %}
                    <span class="servers__status server__status-disabled">Выключен</span>
                    <span class="servers__online">Онлайн: 0 / 0</span>
                    <span class="servers__updates">Версия сервера: Unknown</span>
                {% endif %}
            </div>
            <div class="servers__vanilla">
                <div class="servers__block">
                    <i class="fas fa-terminal"></i>
                    <a class="" href="/vanilla" draggable="false">Сервер - Towny Vanilla</a>
                </div>
                {% if status_vanilla %}
                    <span class="servers__status server__status-active">Работает</span>
                    <span class="servers__online">Онлайн: {{ online_vanilla }} / {{ max_online_vanilla }}</span>
                    <span class="servers__updates">Версия сервера: {{ version_vanilla }}</span>
                {% else %}
                    <span class="servers__status server__status-disabled">Выключен</span>
                    <span class="servers__online">Онлайн: 0 / 0</span>
                    <span class="servers__updates">Версия сервера: Unknown</span>
                {% endif %}
            </div>
        </div>
    </main>
</body>
