<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include 'blocks/head.html' %}

<body>
    {% include 'blocks/navigation.html' %}
    <main class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div style="display: flex; flex-direction: column;">
                    <div style="margin-bottom: 20px;">
                        <span><i>User:</i></span>
                        <span class="txt-secondary" id="userNameException"></span>
                        <input type="text" name="userName" class="form-control" onclick="removeBorder(this)" required>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <span><i>Password:</i></span>
                        <span class="txt-secondary" id="userPasswordException"></span>
                        <div class="input-group">
                            <input type="password" name="userPassword" class="form-control"
                                aria-describedby="addon1" onclick="removeBorder(this)" required>
                            <span class="input-group-text txt-light unselectable" onclick='myFunction()' id="addon1">
                                <i class="bi bi-eye" id="eyePassShow" style="margin-right: 5px;"></i>
                                Show
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>
            </div>
        </form>
    </main>
</body>