<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include 'blocks/head.html' %}

<body>
    {% include 'blocks/navigation.html' %}
    <main class="content">
        <div style="color: white; margin: auto;">
            {{ reg_error }}
        </div>
        <form method="POST" name="userOrder" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="modal-body">
                <div style="display: flex; flex-direction: column;">
                    <div style="margin-bottom: 20px;">
                        <span><i>Игровой никнейм:</i></span>
                        <span class="txt-secondary" id="userNameException"></span>
                        <input type="text" name="userName" class="form-control" onclick="removeBorder(this)" required>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <span><i>Пароль:</i></span>
                        <span class="txt-secondary" id="userPasswordException"></span>
                        <div class="input-group">
                            <input type="password" name="userPassword" class="form-control"
                                aria-describedby="addon1" onclick="removeBorder(this)" required>
                            <span class="input-group-text txt-light unselectable" onclick='myFunction()' id="addon1">
                                <i class="bi bi-eye" id="eyePassShow" style="margin-right: 5px;"></i>
                                Show
                            </span>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <span><i>Ссылка на VK:</i></span>
                        <span class="txt-secondary" id="userVKException"></span>
                        <input type="text" name="userVK" class="form-control" onclick="removeBorder(this)" required>
                    </div>
                    <button type="submit" class="btn btn-success">Подать заявку</button>
                </div>
            </div>
        </form>
    </main>
</body>

<style>
    .content {
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    #addon1 {
        background-color: #242424;
        border-width: 0px !important;
        margin-top: 10px;
        cursor: pointer;
    }

    input {
        background-color: #2A2A2A !important;
        border-color: transparent !important;
        margin-top: 10px;
        color: #DCDCDC !important;
    }
</style>

<script>
    function myFunction() {
        var x = document.forms["userOrder"]["userPassword"];
        if (x.type === "password") {
            x.type = "text";
            document.getElementById("eyePassShow").className = "bi bi-eye-slash";
        } else {
            x.type = "password";
            document.getElementById("eyePassShow").className = "bi bi-eye";
        }
    }

    function validateForm() {
        var user_name = document.forms["userOrder"]["userName"];
        var user_name_exception = document.getElementById("userNameException");

        var user_password = document.forms["userOrder"]["userPassword"];
        var user_password_exception = document.getElementById("userPasswordException");

        var user_vk = document.forms["userOrder"]["userVK"];
        var user_vk_exception = document.getElementById("userVKException");

        if (user_name.value.length > 12) {
            user_name.style.cssText = 'border-color:red !important';
            user_name_exception.innerHTML = "(Ник должен быть меньше 12 символов!)";
            return false;
        } else if (user_name.value.length < 2) {
            user_name.style.cssText = 'border-color:red !important';
            user_name_exception.innerHTML = "(Ник должен быть больше 2-ух символов!)";
            return false;
        } else {
            user_name_exception.innerHTML = "";
        }

        if (user_password.value.length > 16) {
            user_password.style.cssText = 'border-color:red !important';
            user_password_exception.innerHTML = "(Пароль не должен содержать больше 16 символов)";
            return false;
        } else if (user_password.value.length < 8) {
            user_password.style.cssText = 'border-color:red !important';
            user_password_exception.innerHTML = "(Пароль должен содержать как минимум 8 символов)";
            return false;
        } else {
            user_password_exception.innerHTML = "";
        }

        if (!user_vk.value.includes('https://vk.com/')) {
            user_vk.style.cssText = 'border-color:red !important';
            user_vk_exception.innerHTML = "(Ссылка на страницу ВКонтакте должна содержать домен 'vk.com'!)";
            return false;
        } else {
            user_vk_exception.innerHTML = "";
        }
    }

    function removeBorder(obj) {
        obj.style.cssText = 'border-color:transparent !important';
    }
</script>