{% load static %}

<header id="nav-bar-menu">
    <a href="/">
    <img src="{% static 'assets/Icon1.png' %}" alt="" style="width: 70px; margin-right: 25px;"
        draggable="false">
    </a>
    <!-- <div class="btn-group" style="margin-right: 25px;">
            <a href="/" type="button" class="nav-bar-menu-item" id="target"
                style="font-size: 17px; color: #B9B9B9; padding-left: 20px;">Главная</a>
            <button type="button" id="test" class="nav-bar-menu-item nav-bar-menu-dropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-caret-down-fill" style="font-size: 10px; color: #B9B9B9;"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-item-header" href="" draggable="false">Новости</a></li>
                <li><a class="dropdown-item" href="" draggable="false">Полезная информация</a></li>
                <li><a class="dropdown-item dropdown-item-footer" href="" draggable="false">Информация о сайте</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="#" type="button" class="nav-bar-menu-item"
                style="font-size: 17px; color: #B9B9B9; padding-left: 20px;">Сервера</a>
            <button type="button" class="nav-bar-menu-item nav-bar-menu-dropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-caret-down-fill" style="font-size: 10px; color: #B9B9B9;"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-item-header" href="/modded" draggable="false">DDSH Modded</a></li>
                <li><a class="dropdown-item dropdown-item-footer" href="/vanilla" draggable="false">Towny Vanilla</a></li>
            </ul>
        </div> -->
    <a href="https://disk.yandex.by/d/VIOGWjnSBpS8sw" target="__blank"  download type="button" class="nav-bar-menu-item"
        style="font-size: 17px; color: #B9B9B9;">Скачать лаунчер</a>

    <a href="/register" type="button" class="nav-bar-menu-item"
        style="font-size: 17px; color: #B9B9B9; margin-left: 40px;">Регистрация</a>

    {% if request.user.is_superuser %}
        <a href="/admin" type="button" class="nav-bar-menu-item"
            style="font-size: 17px; color: #B9B9B9; margin-left: 40px;">Админ-панель</a>
    {% endif %}
    <!-- <a href="#" type="button" class="nav-bar-menu-item"
            style="font-size: 17px; color: #B9B9B9; margin-left: 40px;">О нас</a> -->
</header>
