<!doctype html>
<html lang="en">

{% load static %}

{% include "blocks/head.html" %}
<head>
    <link rel="stylesheet" href="{% static 'server_page_style.css' %}">
</head>

<body class="unselectable">
    {% include "blocks/navigation.html" %}

    <main class="content">
        <div class="content__header">
            <div class="content__about-server">
                <h2>Описание</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa ea eaque error itaque optio possimus quasi repudiandae! Asperiores est, illo maxime nisi officia possimus praesentium quaerat repellendus voluptas voluptates.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid molestiae nihil saepe? Animi beatae consequatur corporis, deleniti eum excepturi itaque maxime nemo quasi quibusdam? Amet asperiores delectus nostrum quibusdam repudiandae.
                </p>
            </div>
        </div>
        <div class="content__footer">
            <div class="content__players">
                <h1>Список игроков:</h1>
                <div class="content__players-block">
                    {% for player in players %}
                    <div class="content__server-player">
                        <img src="{% static 'assets/player_head.jpg' %}" alt="" draggable="false">
                        <span class="unselectable">{{ player }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content__updates">
                <div class="updates__header">
                    <h1>Последние обновления:</h1>
                </div>
                <div class="updates__body">

                </div>
            </div>
        </div>
    </main>

</body>