<!doctype html>
<html lang="en">

{% load static %}

{% include "blocks/head.html" %}
<head>
    <link rel="stylesheet" href="{% static 'server_page_style.css' %}">
</head>

<body class="unselectable">
    {% include "blocks/navigation.html" %}

    <main class="content">
        <div class="content__header">
            <div class="content__about-server">
                <h2>Описание</h2>
                <p>
                    Одно из самых важных аспектов игры в <i>Minecraft</i> - это классическое выживание. XeonCraft как раз таки предоставляет на выбор еще один сервер - Vanilla, на котором
                    присутствуют такие плагины как: <a href="https://www.spigotmc.org/resources/towny-advanced.72694/">Towny</a>, <a href="https://www.spigotmc.org/resources/pwnplantgrowth.49535/">PwnPlantGrowth</a>, 
                    <a href="https://www.spigotmc.org/resources/pwnbreeding.12147/">PwnBreeding</a>, <a href="https://www.spigotmc.org/resources/killsplus-combat-tag-heads-death-combat-log-commands-black-white-list-placeholders.23889/">AntiRelog</a> 
                    и множество других интересностей! На сервере можно развернуть большие кровавые войны с захватами территории, но в тоже время можно вести дипломатические или торговые отношения с другими городами, объединяться
                    в союзы против агрессивных захватчиков. 
                </p>
            </div>
        </div>
        <div class="content__footer">
            <div class="content__players">
                <h1>Список игроков:</h1>
                <div class="content__players-block">
                    {% for player in players %}
                    <div class="content__server-player">
                        <img src="{% static 'assets/player_head.jpg' %}" alt="" draggable="false">
                        <span class="unselectable">{{ player }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content__updates">
                <div class="updates__header">
                    <h1>Последние обновления:</h1>
                </div>
                <div class="updates__body">

                </div>
            </div>
        </div>
    </main>

</body>