.bg-danger {
    background-color: #FF8181 !important; 
}

.bg-warning {
    background-color: #FF8B13 !important;
}

.bg-success {
    background-color: #21C992 !important;
}

.bg-secondary {
    background-color: #7B8B9F !important;
}

.bg-primary {
    background-color: #2079FF !important;
}

.bg-light {
    background-color: #FFFFFF !important;
}
