/* 
    Creates a menu bar at the top of the page.
 */
.navbar-thumb {
    display: flex;
    box-shadow: 0 0 20px 3px #DFDFDF;
    width: 100%;
    max-height: 55px;
    min-height: 55px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 20px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}

/* 
    Overrides the element as start of menu section.
 */
.navbar-start-thumb {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    align-items: center;
    font-weight: 700; 
    margin-right: auto;
}

/* 
    Overrides the element as end of menu section.
 */
 .navbar-end-thumb {
    display: flex; 
    flex-direction: row;
    font-weight: 700; 
    margin-left: auto;
 }

/* 
    Selects items into a single submenu block
 */
.navbar-content-thumb {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* 
    Allows you to override an object as an item in this menu.
 */
.navbar-item-thumb {
    margin-right: 25px; 
    font-weight: 700;
}

/* 
    Selects a menu item into a separate block with a changed view
 */
.navbar-block-content-thumb {
    box-shadow: 0 0 20px 3px #DFDFDF;
    display: flex; 
    justify-content: center;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

/* 
    Highlights a menu item by changing its foreground color and background color as well.
    It can also additionally change the foreground and background color of the icon/badge, etc.
 */
.active > .navbar-item-thumb {
    padding-bottom: 15px;
    border-bottom: 3px solid #2079FF;
    color: #2079FF !important;
}

/* .active > .navbar-item-thumb > .thumb-badge {
    background-color: #2079FF !important;
    color: #FFFFFF !important;
} */

.active > .thumb-badge, .active > .navbar-item-thumb > .thumb-badge {
    background-color: #2079FF !important;
    color: #FFFFFF !important;
}

/* 
    Removes the underline of <a> elements in the menu.
 */
.navbar-thumb > a, .navbar-item-thumb > a, .navbar-content-thumb > a, 
.navbar-start-thumb > a, .navbar-end-thumb > a, .navbar-block-content-thumb > a {
    text-decoration: none;
}